.toolbar {
  margin-bottom: 20px;
  display: flex;
  align-items: center;
  h1 {
    margin-bottom: 0;
  }
}

.grow {
  flex-grow: 1;
}

table {
  width: 100%;
}

.center {
  text-align: center;
}

.action:not(:first-child) {
  margin-left: 20px;
}
