<div *ngIf="course" class="course">
  <div class="content">
    <div class="header">
      <h1 class="mat-h1">
        {{course.name}}
      </h1>
      <div>
        <button *ngIf="eligibleForEnrollment" mat-flat-button (click)="signUp()">
          Zapisz mnie
        </button>
        <mat-chip-list *ngIf="alreadyEnrolled">
          <mat-chip>Zapisany na kurs</mat-chip>
        </mat-chip-list>
      </div>
    </div>
    <div class="summary">
      <img mat-icon-button [src]="course.image_url" alt="Course image" height="250" width="250">
      <bar-rating *ngIf="course.actual_note" [rate]="course.actual_note" [max]="10" [readOnly]="true"></bar-rating>
      <table mat-table [dataSource]="[course]">
        <ng-container matColumnDef="semester">
          <th mat-header-cell *matHeaderCellDef>Semestr</th>
          <td mat-cell *matCellDef="let course"> {{course.semester}} </td>
        </ng-container>
        <ng-container matColumnDef="ects">
          <th mat-header-cell *matHeaderCellDef>ECTS</th>
          <td mat-cell *matCellDef="let course"> {{course.ects}} </td>
        </ng-container>
        <ng-container matColumnDef="type">
          <th mat-header-cell *matHeaderCellDef>Typ kursu</th>
          <td mat-cell *matCellDef="let course"> {{course.type | courseType}} </td>
        </ng-container>
        <ng-container matColumnDef="attendee_limit">
          <th mat-header-cell *matHeaderCellDef>Limit uczestników</th>
          <td mat-cell *matCellDef="let course"> {{course.attendee_limit}} </td>
        </ng-container>
        <ng-container matColumnDef="actual_note">
          <th mat-header-cell *matHeaderCellDef>Ocena kursu</th>
          <td mat-cell *matCellDef="let course"> {{course.actual_note}} </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="['semester', 'ects', 'type', 'attendee_limit', 'actual_note']"></tr>
        <tr mat-row *matRowDef="let row; columns: ['semester', 'ects', 'type', 'attendee_limit', 'actual_note'];"></tr>
      </table>
    </div>
    <div class="mat-body">
      {{course.description}}
    </div>
    <div class="reviews">
      <h2 class="mat-h2">
        Opinie
      </h2>
      <div *ngIf="reviews.length === 0">
        Brak opinii o tym kursie.
      </div>
      <app-review-list [reviews]="reviews"></app-review-list>
    </div>
    <div class="review-form" *ngIf="alreadyEnrolled && !alreadyReviewed">
      <h2 class="mat-h2">
        Dodaj opinie
      </h2>
      <app-review-form (newReview)="onNewReview($event)"></app-review-form>
    </div>
  </div>
</div>
