<mat-toolbar color="accent" role="heading">
  <mat-toolbar-row>
    <a [routerLink]="['']" class="navbar-link">
      Twoje Kursy
    </a>
    <a *ngIf="isSignedIn" class="username">
      Witaj {{user.email}}!
    </a>
    <span class="grow"></span>
    <a *ngIf="isAdmin" [routerLink]="['admin/courses']" mat-flat-button color="accent">
      Zarządzaj kursami
    </a>
    <a *ngIf="!isSignedIn" [routerLink]="['sign-in']" mat-flat-button color="accent">
      Zaloguj
    </a>
    <a *ngIf="!isSignedIn" [routerLink]="['sign-up']" mat-flat-button color="accent">
      Zarejestruj
    </a>
    <button *ngIf="isSignedIn" (click)="signOut()" mat-flat-button color="accent">
      Wyloguj
    </button>
  </mat-toolbar-row>
</mat-toolbar>
<main class="app-main">
  <router-outlet></router-outlet>
</main>
