<mat-card-content>
  <mat-card-title>
    Wyszukaj kurs:
  </mat-card-title>
  <form [formGroup]="searchForm" autocomplete="off">
    <mat-form-field class="form-field">
      <input formControlName="text" matInput placeholder="Nazwa kursu">
    </mat-form-field>
    <mat-form-field class="form-field">
      <input type="number" formControlName="semester" matInput placeholder="Semestr" min="1" max="10">
    </mat-form-field>
    <mat-form-field class="form-field">
      <input type="number" formControlName="ects" matInput placeholder="ECTS" min="1" max="15">
    </mat-form-field>
    <mat-form-field class="form-field">
      <input type="number" formControlName="minRating" matInput placeholder="Minimalna ocena" min="0" max="10">
    </mat-form-field>
    <mat-form-field class="form-field">
      <input type="number" formControlName="maxRating" matInput placeholder="Maksymalna ocena" [min]="searchForm?.value?.minRating || 0" max="10">
    </mat-form-field>
    <div class="form-field">
      <button mat-flat-button (click)="clear()">
        Wyczyść filtry
      </button>
    </div>
  </form>
</mat-card-content>
